:root {
	--yellow: #f2b705;
	--orange: #f29f05;
	--brown: #a65e4e;
	--white: #f2f2f2;
	--brightyellow: #f2cb05;
}

.container {
	width: 1200px;
	margin: auto;
}

.backgroundimg {
	background-image: url(images/pluizige-vriend.jpg);
	background-attachment: fixed;
	object-fit: cover;
	color: var(--orange);
	padding: 30px 0;
}

.yellowbackground {
	background-color: var(--yellow);
	opacity: 20%;
}

.brownbackground {
	background-color: var(--brown);
	padding: 20px 0;

}

.brownbackground p {
	color: var(white);
	font-weight: bold;


}


button {
	background-color: var(--orange);
	color: var(--white);
	border: 0;
	padding: 10px 40px;
	border-radius: 50px;
}