:root {
	--yellow: #f2b705;
	--orange: #f29f05;
	--brown: #a65e4e;
	--white: #f2f2f2;
	--brightyellow: #f2cb05;
}

.container {
	width: 100%;
	margin: auto;
}

.backgroundimg {
	background-color: var(--brightyellow);
	color: var(--brown);
	padding: 60px 0;
}

.yellowbackground {
	background-color: var(--yellow);
	padding: 30px;
}

.yellowbackground .container {
	width: 60%;
}

.brownbackground {
	background-color: var(--brown);
	padding: 20px 0;
	color: var(--white);
	font-weight: bold;
}

.cijfers span {
	font-size: 30px;
}


button {
	background-color: var(--orange);
	color: var(--white);
	border: 0;
	padding: 10px 40px;
	border-radius: 50px;
}

.product {
	background-color: var(--yellow);
	padding: 30px;
	margin: 10px;
}

.product img {
	width: 220px;
	height: 300px;
	object-fit: cover;
	padding-bottom: 15px;

}

.producten {
	margin: 50px auto;

}

.product button {
	background-color: white;
	color: var(--orange);
}

.hond img {
	width: 700px;
	height: auto;
}